<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.EmpExprMapper">
    <insert id="insertBatch">
        insert into emp_expr(emp_id, begin, end, job, company) values
        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId}, #{expr.begin}, #{expr.end}, #{expr.job}, #{expr.company})
        </foreach>
    </insert>

    <delete id="deleteByEmpId">
        delete from emp_expr where emp_id in
        <foreach collection="empIds" item="id" open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </delete>


</mapper>